@font-face {
    font-family: "Poppins";
    src: url(./fonts/poppins-black-webfont.woff2);
    font-weight: normal;
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/poppins-bold-webfont.woff2);
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/poppins-lighter-webfont.woff2);
    font-weight: lighter;
}

@font-face {
    font-family: "Poppins";
    src: url(./fonts/poppins-extrabold-webfont.woff2);
    font-weight: bolder;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --padding-left: 2em;
    --header-padd-vert: 1.5em;
    --footer-padding:1em 0
}


body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: Poppins;
}


main,
footer {
    background-color: #efefef;
}


header {
    padding-top: var(--header-padd-vert);
    padding-bottom: var(--header-padd-vert);
    padding-left: var(--padding-left);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}