@font-face {
    font-family: "Poppins-black";
    src: url(./fonts/poppins-black-webfont.woff2);
}

@font-face {
    font-family: "Poppins-bold";
    src: url(./fonts/poppins-bold-webfont.woff2);
}

@font-face {
    font-family: "Poppins-light";
    src: url(./fonts/poppins-light-webfont.woff2);
}

@font-face {
    font-family: "Poppins-extrabold";
    src: url(./fonts/poppins-extrabold-webfont.woff2);
}

@font-face {
    font-family: "Poppins-medium";
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-semi-bold";
    src: url(./fonts/Poppins-SemiBold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --header-padding: 1.5em 2em;
    --footer-padding: 1em 0;
    --header-box-shadow: 0px 0px 5px rgb(187, 187, 187);
    --body-bg-color: #efefef;
    --header-bg-color: white;
    --main-margin-top: 2em;
    --book-item-border-radius: 8px;
    --book-item-bg-color: white;
    --book-item-button-border-radius: 4px;
    --read-status-btn-bg-color: rgb(145, 248, 190);
    --read-status-btn-bg-color-hovered: rgb(88, 222, 146);
    --unread-status-btn-bg-color: rgb(248, 145, 145);
    --unread-status-btn-bg-color-hovered: rgb(229, 95, 95);
    --remove-book-button-bg-color-hovered: rgb(220, 220, 220);
    --book-item-button-padding: 8px;
    --books-container-padding: var(--header-padding);
    --books-container-gap: 40px;
    --add-book-bg-color-hovered: rgb(216, 216, 216);
    --book-item-box-shadow: 0px 0px 4px rgb(189, 189, 189);
    --book-item-box-shadow-hovered: 0px 0px 16px rgb(189, 189, 189);
}

button {
    cursor: pointer;
}


body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: Poppins-light;
    background-color: var(--body-bg-color);
}


main,
footer {
    background-color: var(--body-bg-color);
}


header {
    padding: var(--header-padding);
    box-shadow: var(--header-box-shadow);
    background-color: var(--header-bg-color);
    font-family: Poppins-bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

main {
    align-self: start;
    margin-top: var(--main-margin-top);
    display: grid;
    align-items: start;
    justify-items: center;
}

button.add-book {
    background-color: transparent;
    border: none;
    font-family: Poppins-semi-bold;
    font-size: 1.2em;
    cursor: pointer;
    padding: var(--book-item-button-padding);
    border-radius: var(--book-item-button-border-radius);
}


button.add-book:hover {
    background-color: var(--add-book-bg-color-hovered);
}

.books-container {
    padding: var(--books-container-padding);
    justify-self: stretch;
    display: grid;
    gap: var(--books-container-gap);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.book-item {
    display: grid;
    gap: 16px;
    background-color: white;
    padding: 16px;
    border-radius: var(--book-item-border-radius);
    box-shadow: var(--book-item-box-shadow);
    font-family: Poppins-medium;
    font-size: 1.2em;
}

.book-item:hover {
    box-shadow: var(--book-item-box-shadow-hovered);
}

.book-item p {
    justify-self: center;
}

.book-item button {
    font-family: Poppins-medium;
    padding: var(--book-item-button-padding);
    font-size: 1em;
    border-radius: var(--book-item-button-border-radius);
    border: none;
}

button.book-read-status {
    background-color: var(--unread-status-btn-bg-color);
}

button.book-read-status:hover {
    background-color: var(--unread-status-btn-bg-color-hovered);
}

button.book-read-status.read {
    background-color: var(--read-status-btn-bg-color);
}

button.book-read-status:hover.read {
    background-color: var(--read-status-btn-bg-color-hovered);
}

button.remove-book:hover {
    background-color: var(--remove-book-button-bg-color-hovered);
}

dialog {
    border-radius: var(--book-item-border-radius);
    background-color: var(--body-bg-color);
}

dialog form {
    font-size: 0.8em;
    display: grid;
    gap: 16px;
    padding: 16px;
}


dialog form h2 {
    justify-self: center;
}
