@font-face {
    font-family: "Poppins-black";
    src: url(./fonts/poppins-black-webfont.woff2);
}

@font-face {
    font-family: "Poppins-bold";
    src: url(./fonts/poppins-bold-webfont.woff2);
}

@font-face {
    font-family: "Poppins-light";
    src: url(./fonts/poppins-light-webfont.woff2);
}

@font-face {
    font-family: "Poppins-extrabold";
    src: url(./fonts/poppins-extrabold-webfont.woff2);
}

@font-face {
    font-family: "Poppins-medium";
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-semi-bold";
    src: url(./fonts/Poppins-SemiBold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --header-padding: 1.5em 2em;
    --footer-padding: 1em 0;
    --header-box-shadow: 0px 0px 5px rgb(187, 187, 187);
    --body-bg-color: #efefef;
    --header-bg-color: white;
    --main-margin-top: 2em;
    --book-item-border-radius: 8px;
    --book-item-bg-color: white;
    --book-item-button-border-radius: 4px;
    --read-status-btn-bg-color: rgb(145, 248, 190);
    --read-status-btn-bg-color-hovered: rgb(88, 222, 146);
    --unread-status-btn-bg-color: rgb(248, 145, 145);
    --unread-status-btn-bg-color-hovered: rgb(229, 95, 95);
    --remove-book-button-bg-color-hovered: rgb(220, 220, 220);
    --book-item-button-padding: 8px;
    --books-container-padding: var(--header-padding);
    --books-container-gap: 40px;
    --add-book-bg-color-hovered: rgb(216, 216, 216);
    --book-item-box-shadow: 0px 0px 4px rgb(189, 189, 189);
    --book-item-box-shadow-hovered: 0px 0px 16px rgb(189, 189, 189);
    --dialog-padding: 16px;
    --remove-confirmation-dialog-max-width: 36ch;
}

button {
    cursor: pointer;
    padding: var(--book-item-button-padding);
    font-family: Poppins-semi-bold;
    cursor: pointer;
    border-radius: var(--book-item-button-border-radius);
    border: none;
    font-size: 1em;
}


body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    font-family: Poppins-light;
    background-color: var(--body-bg-color);
}


main,
footer {
    background-color: var(--body-bg-color);
}


header {
    padding: var(--header-padding);
    box-shadow: var(--header-box-shadow);
    background-color: var(--header-bg-color);
    font-family: Poppins-bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

main {
    align-self: start;
    margin-top: var(--main-margin-top);
    display: grid;
    align-items: start;
    justify-items: center;
}

button.add-book {
    background-color: transparent;
    font-size: 1.2em;
}


button.add-book:hover {
    background-color: var(--add-book-bg-color-hovered);
}

.books-container {
    padding: var(--books-container-padding);
    justify-self: stretch;
    display: grid;
    gap: var(--books-container-gap);
    justify-content: center;
    /* grid-template-columns: repeat(auto-fit, minmax(250px,1fr)); */
    grid-template-columns: repeat(auto-fit, 300px);
}

.book-item {
    display: grid;
    gap: 16px;
    background-color: white;
    padding: 16px;
    border-radius: var(--book-item-border-radius);
    box-shadow: var(--book-item-box-shadow);
    font-family: Poppins-medium;
    font-size: 1.2em;
}

.book-item:hover {
    box-shadow: var(--book-item-box-shadow-hovered);
}

.book-item p {
    justify-self: center;
}

.book-item button {
    font-family: Poppins-medium;
}

button.book-read-status {
    background-color: var(--unread-status-btn-bg-color);
}

button.book-read-status:hover {
    background-color: var(--unread-status-btn-bg-color-hovered);
}

button.book-read-status.read {
    background-color: var(--read-status-btn-bg-color);
}

button.book-read-status:hover.read {
    background-color: var(--read-status-btn-bg-color-hovered);
}

button.remove-book:hover {
    background-color: var(--remove-book-button-bg-color-hovered);
}

::backdrop {
    background-color: grey;
    opacity: 0.5;
}

dialog {
    border-radius: var(--book-item-border-radius);
    background-color: var(--body-bg-color);
    position: absolute;
    margin: auto;
    border: none;
}

dialog form {
    font-size: 0.8em;
    display: grid;
    gap: 16px;
    padding: var(--dialog-padding);
}


dialog form h2 {
    justify-self: center;
}


dialog form input {
    font-family: Poppins-medium;
    border-radius: var(--book-item-button-border-radius);
    border: none;
    background-color: white;
    max-width: 220px;
}

dialog form input:is([type="text"], [type="number"]) {
    padding: 8px;
    font-size: 1.3em;
}

dialog form label:has(>input[type="checkbox"]) {
    font-size: 1.2em;
    justify-self: center;
    display: flex;
    gap: 8px;
    align-items: center;
}

dialog form input[type="checkbox"] {
    width: 16px;
    height: 16px;
    /* accent-color: white; */
    appearance: none;
    border-radius: 0px;
    border: 1px solid grey;
}

dialog form input[type="checkbox"]:checked:active {
    background-color: rgb(227, 227, 227);
}

dialog form input[type="checkbox"]:checked {
    border: none;
}


dialog form input[type="checkbox"]:hover {
    border: 1px solid black;
}

dialog form input[type="checkbox"]:active {
    border: 1px solid rgb(227, 227, 227);
}



dialog form input[type="checkbox"]:checked::after {
    content: "";
    background-color: black;
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1;
    clip-path: polygon(82.03% 9.5%, 94.26% 19.47%, 36.47% 90.33%, 8.44% 59.68%, 21.18% 48.02%, 36.47% 65.36%);
}

dialog form button {
    font-family: Poppins-medium;
    font-size: 1.3em;
}


dialog form button.dialog-add-book {
    background-color: var(--read-status-btn-bg-color);
}

dialog form button.dialog-discard {
    background-color: white;
}

dialog.remove-book-confirmation div {
    display: grid;
    padding: var(--dialog-padding);
    gap: 16px;
    max-width: var(--remove-confirmation-dialog-max-width);
}

dialog.remove-book-confirmation button.remove-confirm {
    background-color: var(--unread-status-btn-bg-color);
}

dialog.remove-book-confirmation button.remove-cancel {
    background-color: white;
}

dialog.remove-book-confirmation button {
    font-family: Poppins-medium;
}

dialog.remove-book-confirmation p {
    line-height: 1.35;
}

dialog button[class*="add"]:hover {
    background-color: var(--read-status-btn-bg-color-hovered);
}

dialog button[class*="remove"]:hover {
    background-color: var(--unread-status-btn-bg-color-hovered);
}

dialog button[class*="cancel"]:hover {
    background-color: var(--remove-book-button-bg-color-hovered);
}